<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="https://trinichat.ga/index.php/" />
    </system.webServer>
</configuration>